* {
  box-sizing: border-box;
  padding: 0;
  margin: 1 rem;
}
body {
  font-family: "Josefin Sans", sans-serif;
}

main,
header {
  padding: 1 rem;
}

img {
  width: 100%;
}
.section-title {
  text-align: center;
  margin: 2rem auto;
  font-family: cursive;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: lighter;
}

.section-title span {
  display: block;
  color: orange;
  margin-top: 0.5rem;
}
.btn {
  background-color: aquamarine;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 10px;
}

/*default all images to fill 100% of the box */

/* Header style start */
header nav ul li {
  display: none;
  font-weight: bold;
}

#logo {
  display: inline;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-family: "Rancho", cursive;
}
#burger-menu {
  display: inline;
  float: right;
  font-size: 1.6rem;
}
/* header style ends */

/* MEDIA QUERY
Header
*/
@media screen and (min-width: 725px) {
  body {
    max-width: 960px;
    margin: 0 auto;
  }
  main {
    padding: 0;
  }
  header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav ul li {
    display: inline;
    margin: 0.6rem;
    font-weight: bold;
  }

  #burger-menu {
    display: none;
  }

  /* Header style MQ finish */
  /* Hero MQ start */
  .hero {
    display: flex;
    padding: 1 rem;
  }
  .hero-info {
    padding: 1rem;
  }
  .hero-info-block {
    display: block;
  }
  #hero-buttons {
    justify-content: flex-start;
  }
  #hero-image {
    width: 375px;
  }
  /* Hero MQ end.
  /* specialites mq start */
  .specialities {
    padding: 2rem;
    background-color: white;
  }
  .speciality-item {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-bottom: 2rem;
  }
  .speciality-img {
    width: 375px;
  }
}

/* Hero style phone start */
.heroinfo h1 {
  font-size: 3.5rem;
  color: gray;
  margin: 3rem 0;
  font-weight: lighter;
}

.vegana {
  color: aquamarine;
}
/* Hero style finish */

.hero-buttons {
  display: flex;
  justify-content: space-around;
}
.space {
  display: inline-block;
}

.hero-buttons :first-child {
  background-color: orange;
  color: white;
  padding: 0.5rem 1.5rem;
  box-shadow: 5px 5px 15px orange;
  border-radius: 5px;
  border: none;
  margin-right: 15%;
}

.hero-buttons :last-child {
  border: none;
  background-color: white;
  font-size: 1rem;
}

.hero-Info {
  margin: 3rem 0;
}
/* hero style end */
/* Specialities style start */
.speciality-catagory {
  color: orange;
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.speciality-catagory::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5rem;
  border-bottom: 1px solid black;
}
.speciality-description {
  font-size: 1.1rem;
  font-weight: lighter;
  padding-bottom: 1rem;
}
.speciality-title {
  font-size: 2.6rem;
  font-weight: normal;
  display: block;
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.speciality-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5rem;
  border-bottom: 1px solid black;
}

.speciality-img {
  box-shadow: 5px 5px 15px lightgray;
}
.price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.price span {
  margin-bottom: 1rem;
}
.speciality-item:last-child .speciality-img {
  order: 1;
}
.speciality-item:last-child .speciality-info {
  order: 2;
}
/* Specialities style end */
