* {
  box-sizing: border-box;
  padding: 0;
  margin: 1 rem;
}
body {
  font-family: "Josefin Sans", sans-serif;
}

main,
header {
  padding: 1 rem;
}

img {
  width: 100%;
}
/*default all images to fill 100% of the box */

/* Header style start */
header nav ul li {
  display: none;
  font-weight: bold;
}

#logo {
  display: inline;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-family: "Rancho", cursive;
}
#burger-menu {
  display: inline;
  float: right;
  font-size: 1.6rem;
}
/* MEDIA QUERY
Header
*/
@media screen and (min-width: 725px) {
  body {
    max-width: 960px;
    margin: 0 auto;
  }
  main {
    padding: 0;
  }
  header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav ul li {
    display: inline;
    margin: 0.6rem;
    font-weight: bold;
  }

  #burger-menu {
    display: none;
  }

  /* Header style MQ finish */
  /* Hero MQ start */
  .hero {
    display: flex;
    padding: 1 rem;
  }
  .hero-info {
    padding: 1rem;
  }
  .hero-info-block {
    display: block;
  }
  #hero-buttons {
    justify-content: flex-start;
  }
  #hero-image {
    width: 375px;
  }
}

/* Hero MQ end.







/* Hero style phone start */
.heroinfo h1 {
  font-size: 3.5rem;
  color: gray;
  margin: 3rem 0;
  font-weight: lighter;
}

.vegana {
  color: aquamarine;
}
/* Hero style finish */

.hero-buttons {
  display: flex;
  justify-content: space-around;
}
.space {
  display: inline-block;
}

.hero-buttons :first-child {
  background-color: orange;
  color: white;
  padding: 0.5rem 1.5rem;
  box-shadow: 5px 5px 15px orange;
  border-radius: 5px;
  border: none;
  margin-right: 15%;
}

.hero-buttons :last-child {
  border: none;
  background-color: white;
  font-size: 1rem;
}

.hero-Info {
  margin: 3rem 0;
}
